
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.SqlCleanForm.resources
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.Properties.Resources.resources
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.pdb
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.exe
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.csproj.GenerateResource.cache
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.csproj.FileListAbsolute.txt
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.csproj.CoreCompileInputs.cache
SqlCleanerHelper/obj/Debug/SqlCleanerHelper.csproj.AssemblyReference.cache
SqlCleanerHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SqlCleanerHelper/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SqlCleanerHelper/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SqlCleanerHelper/bin/Debug/SqlCleanerHelper.pdb
SqlCleanerHelper/bin/Debug/SqlCleanerHelper.exe.config
SqlCleanerHelper/bin/Debug/SqlCleanerHelper.exe
SqlCleanerHelper/.vs/SqlCleanerHelper/v16/.suo
